<!DOCTYPE html>

<html lang="ja">

<head>

<title>HOME</title>
<meta charset="utf-8">

</head>

<body>

<h1>ぺごぱ</h1>

	<ul>
		<% @users.each do |users|%>
		<li>
			<%= user.name%>
		</li>
	</ul>

	<% end %>

</body>

</html>

