<!DOCTYPE html>

<html lang="ja">

<head>

<title>HOME</title>
<meta charset="utf-8">

</head>

<body>



	<h1>へろー</h1>
	<ul>
	<% @user.each do |user| %>
	<li data-id="<%= user.id %>">
		<%= user.name %>
	</li>
	<%end%>

	<h2>Add new</h2>
	<form action="/new" method="post">
		<input type="text" name="name">
		<input type="submit" value="入力">

	
	</form>

</body>

</html>