<!DOCTYPE html>

<html lang="ja">

<head>
<title>HOME_店舗様</title>
<meta charset="utf-8">

</head>
<body>

	<h1>お店の方用のページです</h1>
	

	<b>お店の空き情報の入力</b><br><br><br>
	
　

　<form action="/form" method="post">


	<!-- 店舗名 -->
	<b>店舗名</b><br>
	<input type="text" name="name"><br>

	<!-- 場所 -->

	<b>場所</b><br>
	<input type="text" name="location"><br>

	<!-- 最寄り -->
	<b>最寄駅</b><br>
	<input type="text" name="station"><br>

	<!-- 場所url -->

	<b>google map</b><br>
	<input type="text" name="map_url"><br>

	<!-- 電話番号 -->

	<b>電話番号(半角・ハイフンなし)</b><br>
	<input type="text" name="open"><br>

	

	<!-- 座席の数 -->
	<!-- ここはjsかなにかで -->

	<!-- 一言コメント！ -->
	<b>お店のPR</b><br>
	<textarea cols="40" rows="5" name="comment"></textarea><br>
	<!-- 残り何文字かわかるように -->
  <input type="submit" value="登録する">

</form>






</body>
</html>