<!DOCTYPE html>

<html lang="ja">

<head>
<title>HOME_店舗様</title>
<meta charset="utf-8">

</head>
<body>

	<h1>お店の方用のページです</h1>
	

	<p>予約一覧</p><br>
	<!-- ここに予約を表示するコードを書く -->
	


	<p>集客する</p><br>

　<form action="/form" method="post">

　
  

</form>

</body>
</html>